.result {
  padding-top: 2px;

  &__title {
    margin-bottom: 15px;
  }

  &__number {
    font-weight: 700;
    font-size: 72px;
  }
}

@media (max-width: 576px) {
  .result {
    padding-top: 0px;

    &__title {
      margin-bottom: 5px;
    }

    &__number {
      font-size: 50px;
    }
  }
}
