.right {
  &__rate {
    margin-bottom: 37px;
  }

  &__payment {
    margin-bottom: 43px;
  }

  &__btn {
    @include btn-reset;
    margin-bottom: 45px;
    padding: 21px 0 22px;
    width: 100%;
    max-width: 441.328px;
    border-radius: 5px;
    text-align: center;
    font-size: 26px;
    color: $main-color;
    background-color: $green-color;
  }
}

@media (max-width: 576px) {
  .right {
    &__rate {
      margin-bottom: 20px;
    }

    &__payment {
      margin-bottom: 20px;
    }

    &__btn {
      margin-bottom: 10px;
    }
  }
}
