* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: $main-color;
}

.container {
  margin: 0 auto;
  padding: 85px 115px 85px 112px;
}

@media (max-width: 1600px) {
  .container {
    padding: 45px 65px 45px 62px;
  }
}

@media (max-width: 896px) {
  .container {
    padding: 30px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 7.5px;
  }
}
